.main-grid {
  display: grid;
  grid-template-areas:
    "side  body"
    "side  body"
    "side  body";
  grid-template-columns: auto 1fr;
}

.side-part {
  grid-area: side;
  height: 100svh;
}
.body-part {
  grid-area: body;
  height: 100svh;
  overflow-y: scroll;
}
